<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @tympanogram.patient %>
</p>

<p>
  <strong>Examiner:</strong>
  <%= @tympanogram.examiner %>
</p>

<p>
  <strong>Examdate:</strong>
  <%= @tympanogram.examdate %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @tympanogram.comment %>
</p>

<p>
  <strong>Image location:</strong>
  <%= @tympanogram.image_location %>
</p>

<p>
  <strong>Impedancemeter:</strong>
  <%= @tympanogram.impedancemeter %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @tympanogram.hospital %>
</p>

<p>
  <strong>Rt pvt:</strong>
  <%= @tympanogram.rt_pvt %>
</p>

<p>
  <strong>Rt sc:</strong>
  <%= @tympanogram.rt_sc %>
</p>

<p>
  <strong>Rt peak:</strong>
  <%= @tympanogram.rt_peak %>
</p>

<p>
  <strong>Rt interval:</strong>
  <%= @tympanogram.rt_interval %>
</p>

<p>
  <strong>Rt data:</strong>
  <%= @tympanogram.rt_data %>
</p>

<p>
  <strong>Rt data length:</strong>
  <%= @tympanogram.rt_data_length %>
</p>

<p>
  <strong>Lt pvt:</strong>
  <%= @tympanogram.lt_pvt %>
</p>

<p>
  <strong>Lt sc:</strong>
  <%= @tympanogram.lt_sc %>
</p>

<p>
  <strong>Lt peak:</strong>
  <%= @tympanogram.lt_peak %>
</p>

<p>
  <strong>Lt interval:</strong>
  <%= @tympanogram.lt_interval %>
</p>

<p>
  <strong>Lt data:</strong>
  <%= @tympanogram.lt_data %>
</p>

<p>
  <strong>Lt data length:</strong>
  <%= @tympanogram.lt_data_length %>
</p>

<%= link_to 'Edit', edit_tympanogram_path(@tympanogram) %> |
<%= link_to 'Back', tympanograms_path %>
